In [1]:
import pandas as pd

In [24]:
bond = pd.read_csv("jamesbond.csv")
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

# `set_index` and `reset_index`

In [25]:
bond = bond.set_index(keys="Film")
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [26]:
bond = bond.reset_index()
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [27]:
bond.set_index("Year")

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1965,Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
1967,Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN
1967,You Only Live Twice,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
1969,On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
1971,Diamonds Are Forever,Sean Connery,Guy Hamilton,442.5,34.7,5.8
1973,Live and Let Die,Roger Moore,Guy Hamilton,460.3,30.8,NaN
1974,The Man with the Golden Gun,Roger Moore,Guy Hamilton,334.0,27.7,NaN
1977,The Spy Who Loved Me,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
1979,Moonraker,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
1981,For Your Eyes Only,Roger Moore,John Glen,449.4,60.2,NaN
1983,Never Say Never Again,Sean Connery,Irvin Kershner,380.0,86.0,NaN
1983,Octopussy,Roger Moore,John Glen,373.8,53.9,7.8
1985,A View to a Kill,Roger Moore,John Glen,275.2,54.5,9.1
1987,The Living Daylights,Timothy Dalton,John Glen,313.5,68.8,5.2
1989,Licence to Kill,Timothy Dalton,John Glen,250.9,56.7,7.9
1995,GoldenEye,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
1997,Tomorrow Never Dies,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
1999,The World Is Not Enough,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
2002,Die Another Day,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
2006,Casino Royale,Daniel Craig,Martin Campbell,581.5,145.3,3.3
2008,Quantum of Solace,Daniel Craig,Marc Forster,514.2,181.4,8.1
2012,Skyfall,Daniel Craig,Sam Mendes,943.5,170.2,14.5
2015,Spectre,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [28]:
bond.set_index("Actor")

,Film,Year,Director,Box Office,Budget,Bond Actor Salary
Actor,,,,,,
Sean Connery,Dr. No,1962,Terence Young,448.8,7.0,0.6
Sean Connery,From Russia with Love,1963,Terence Young,543.8,12.6,1.6
Sean Connery,Goldfinger,1964,Guy Hamilton,820.4,18.6,3.2
Sean Connery,Thunderball,1965,Terence Young,848.1,41.9,4.7
David Niven,Casino Royale,1967,Ken Hughes,315.0,85.0,NaN
Sean Connery,You Only Live Twice,1967,Lewis Gilbert,514.2,59.9,4.4
George Lazenby,On Her Majesty's Secret Service,1969,Peter R. Hunt,291.5,37.3,0.6
Sean Connery,Diamonds Are Forever,1971,Guy Hamilton,442.5,34.7,5.8
Roger Moore,Live and Let Die,1973,Guy Hamilton,460.3,30.8,NaN
Roger Moore,The Man with the Golden Gun,1974,Guy Hamilton,334.0,27.7,NaN
Roger Moore,The Spy Who Loved Me,1977,Lewis Gilbert,533.0,45.1,NaN
Roger Moore,Moonraker,1979,Lewis Gilbert,535.0,91.5,NaN
Roger Moore,For Your Eyes Only,1981,John Glen,449.4,60.2,NaN
Sean Connery,Never Say Never Again,1983,Irvin Kershner,380.0,86.0,NaN
Roger Moore,Octopussy,1983,John Glen,373.8,53.9,7.8
Roger Moore,A View to a Kill,1985,John Glen,275.2,54.5,9.1
Timothy Dalton,The Living Daylights,1987,John Glen,313.5,68.8,5.2
Timothy Dalton,Licence to Kill,1989,John Glen,250.9,56.7,7.9
Pierce Brosnan,GoldenEye,1995,Martin Campbell,518.5,76.9,5.1
Pierce Brosnan,Tomorrow Never Dies,1997,Roger Spottiswoode,463.2,133.9,10.0
Pierce Brosnan,The World Is Not Enough,1999,Michael Apted,439.5,158.3,13.5
Pierce Brosnan,Die Another Day,2002,Lee Tamahori,465.4,154.2,17.9
Daniel Craig,Casino Royale,2006,Martin Campbell,581.5,145.3,3.3
Daniel Craig,Quantum of Solace,2008,Marc Forster,514.2,181.4,8.1
Daniel Craig,Skyfall,2012,Sam Mendes,943.5,170.2,14.5
Daniel Craig,Spectre,2015,Sam Mendes,726.7,206.3,NaN

# Get rows by index label with `.loc[]`

In [30]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [31]:
bond.loc["Goldfinger"]

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [32]:
bond.loc["GoldenEye"]

Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object

In [34]:
bond.loc["Casino Royale"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [35]:
bond.loc["Diamonds Are Forever":"From Russia With Love"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN

In [38]:
bond.loc["GoldenEye":]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [39]:
bond.loc[["Octopussy", "Die Another Day"]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [40]:
"GoldenEye" in bond.index

True

In [41]:
df = bond.loc["GoldenEye":]

In [43]:
df.sort_values("Year")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

# `iloc`

In [44]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [45]:
bond.iloc[0]

Year                        1985
Actor                Roger Moore
Director               John Glen
Box Office                 275.2
Budget                      54.5
Bond Actor Salary            9.1
Name: A View to a Kill, dtype: object

In [46]:
bond.iloc[1]

Year                            2006
Actor                   Daniel Craig
Director             Martin Campbell
Box Office                     581.5
Budget                         145.3
Bond Actor Salary                3.3
Name: Casino Royale, dtype: object

In [47]:
bond.iloc[4:8]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

In [48]:
bond.iloc[20:]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [50]:
# bond = bond.set_index("Film")
bond = bond.sort_index()

In [51]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [53]:
bond.iloc[[5,10,14]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [54]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [55]:
bond.loc["Moonraker", "Actor"]

'Roger Moore'

In [56]:
bond.loc["Moonraker", "Director"]

'Lewis Gilbert'

In [58]:
bond.loc["Moonraker", ["Bond Actor Salary", "Actor", "Director"]]

Bond Actor Salary              NaN
Actor                  Roger Moore
Director             Lewis Gilbert
Name: Moonraker, dtype: object

In [59]:
bond.loc[["Moonraker", "A View to a Kill"], ["Bond Actor Salary", "Actor", "Director"]]

                  Bond Actor Salary        Actor       Director
Film
Moonraker                       NaN  Roger Moore  Lewis Gilbert
A View to a Kill                9.1  Roger Moore      John Glen

In [60]:
# flexible slicing
bond.loc["Moonraker": "Thunderball", "Director":"Budget"]

                                       Director  Box Office  Budget
Film
Moonraker                         Lewis Gilbert       535.0    91.5
Never Say Never Again            Irvin Kershner       380.0    86.0
Octopussy                             John Glen       373.8    53.9
On Her Majesty's Secret Service   Peter R. Hunt       291.5    37.3
Quantum of Solace                  Marc Forster       514.2   181.4
Skyfall                              Sam Mendes       943.5   170.2
Spectre                              Sam Mendes       726.7   206.3
The Living Daylights                  John Glen       313.5    68.8
The Man with the Golden Gun        Guy Hamilton       334.0    27.7
The Spy Who Loved Me              Lewis Gilbert       533.0    45.1
The World Is Not Enough           Michael Apted       439.5   158.3
Thunderball                       Terence Young       848.1    41.9

In [61]:
bond.iloc[14, 2]

'John Glen'

In [62]:
bond.iloc[14, 2:5]

Director      John Glen
Box Office        373.8
Budget             53.9
Name: Octopussy, dtype: object

In [63]:
bond.iloc[[14, 7], [2,3,4]]

                            Director  Box Office  Budget
Film
Octopussy                  John Glen       373.8    53.9
From Russia with Love  Terence Young       543.8    12.6

In [67]:
bond.iloc[[14, 7], 2:]

                            Director  Box Office  Budget  Bond Actor Salary
Film
Octopussy                  John Glen       373.8    53.9                7.8
From Russia with Love  Terence Young       543.8    12.6                1.6

# Set specific cell value

In [81]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [82]:
bond.loc["Dr. No"]

Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                         7.0
Bond Actor Salary              0.6
Name: Dr. No, dtype: object

In [83]:
bond.loc["Dr. No", "Box Office"], bond.loc["Dr. No", "Budget"], bond.loc["Dr. No", "Bond Actor Salary"]

(448.8, 7.0, 0.6)

In [84]:
bond.loc["Dr. No", "Actor"]

'Sean Connery'

In [85]:
bond.loc["Dr. No", "Actor"] = "Sir Sean Connery"

In [86]:
bond.loc["Dr. No", "Actor"]

'Sir Sean Connery'

In [87]:
bond.loc["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]] = [448000000, 7000000, 6000000]

In [88]:
bond.loc["Dr. No", "Box Office"], bond.loc["Dr. No", "Budget"], bond.loc["Dr. No", "Bond Actor Salary"]

(448000000.0, 7000000.0, 6000000.0)

# Set multiple values in df

In [93]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [95]:
actor_is_sean_connery = bond["Actor"] == "Sean Connery"

In [96]:
bond.loc[actor_is_sean_connery]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [98]:
bond.loc[actor_is_sean_connery, "Actor"] = "Sir Sean Connery"

In [100]:
bond.sort_values("Actor")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2

# Rename headers

In [101]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [104]:
bond.rename(index={
    "GoldenEye": "Golden Eye", 
    "The World Is Not Enough": "Best Bond Movie Ever"
})

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Best Bond Movie Ever,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [106]:
bond.rename(columns={
    "Actor": "Bond Actor", 
    "Year": "Release Year"
})

,Release Year,Bond Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [108]:
bond.columns = ["Year of Release", "Actor", "Director", "Gross", "Cost", "Salary"]

In [109]:
bond

,Year of Release,Actor,Director,Gross,Cost,Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

# Delete rows / cols from df

In [110]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [113]:
bond = bond.drop(["A View to a Kill", "Die Another Day", "Casino Royale"])

In [114]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [128]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [129]:
bond.drop("Box Office", axis="columns")

,Year,Actor,Director,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,59.9,4.4

In [130]:
bond.drop(["Box Office", "Budget"], axis="columns")

,Year,Actor,Director,Bond Actor Salary
Film,,,,
A View to a Kill,1985,Roger Moore,John Glen,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,3.3
Casino Royale,1967,David Niven,Ken Hughes,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,17.9
Dr. No,1962,Sean Connery,Terence Young,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,NaN
From Russia with Love,1963,Sean Connery,Terence Young,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,NaN
Octopussy,1983,Roger Moore,John Glen,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,14.5
Spectre,2015,Daniel Craig,Sam Mendes,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,13.5
Thunderball,1965,Sean Connery,Terence Young,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,4.4

In [131]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [132]:
actor = bond.pop("Actor")

In [133]:
actor

Film
A View to a Kill                      Roger Moore
Casino Royale                        Daniel Craig
Casino Royale                         David Niven
Diamonds Are Forever                 Sean Connery
Die Another Day                    Pierce Brosnan
Dr. No                               Sean Connery
For Your Eyes Only                    Roger Moore
From Russia with Love                Sean Connery
GoldenEye                          Pierce Brosnan
Goldfinger                           Sean Connery
Licence to Kill                    Timothy Dalton
Live and Let Die                      Roger Moore
Moonraker                             Roger Moore
Never Say Never Again                Sean Connery
Octopussy                             Roger Moore
On Her Majesty's Secret Service    George Lazenby
Quantum of Solace                    Daniel Craig
Skyfall                              Daniel Craig
Spectre                              Daniel Craig
The Living Daylights               Timothy Dalton
The Man with the Golden Gun           Roger Moore
The Spy Who Loved Me                  Roger Moore
The World Is Not Enough            Pierce Brosnan
Thunderball                          Sean Connery
Tomorrow Never Dies                Pierce Brosnan
You Only Live Twice                  Sean Connery
Name: Actor, dtype: object

In [134]:
bond.head(3)

                  Year         Director  Box Office  Budget  Bond Actor Salary
Film
A View to a Kill  1985        John Glen       275.2    54.5                9.1
Casino Royale     2006  Martin Campbell       581.5   145.3                3.3
Casino Royale     1967       Ken Hughes       315.0    85.0                NaN

In [135]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [136]:
del bond["Director"]

In [137]:
bond.head(3)

                  Year         Actor  Box Office  Budget  Bond Actor Salary
Film
A View to a Kill  1985   Roger Moore       275.2    54.5                9.1
Casino Royale     2006  Daniel Craig       581.5   145.3                3.3
Casino Royale     1967   David Niven       315.0    85.0                NaN

# Random Sample

In [138]:
bond.sample(n=5)

,Year,Actor,Box Office,Budget,Bond Actor Salary
Film,,,,,
GoldenEye,1995,Pierce Brosnan,518.5,76.9,5.1
Moonraker,1979,Roger Moore,535.0,91.5,NaN
Diamonds Are Forever,1971,Sean Connery,442.5,34.7,5.8
Goldfinger,1964,Sean Connery,820.4,18.6,3.2
Octopussy,1983,Roger Moore,373.8,53.9,7.8

In [142]:
bond.sample(frac=.25)

,Year,Actor,Box Office,Budget,Bond Actor Salary
Film,,,,,
GoldenEye,1995,Pierce Brosnan,518.5,76.9,5.1
A View to a Kill,1985,Roger Moore,275.2,54.5,9.1
Diamonds Are Forever,1971,Sean Connery,442.5,34.7,5.8
Casino Royale,2006,Daniel Craig,581.5,145.3,3.3
The World Is Not Enough,1999,Pierce Brosnan,439.5,158.3,13.5
Spectre,2015,Daniel Craig,726.7,206.3,NaN

In [144]:
bond.sample(n=3, axis=0)

,Year,Actor,Box Office,Budget,Bond Actor Salary
Film,,,,,
Moonraker,1979,Roger Moore,535.0,91.5,NaN
The World Is Not Enough,1999,Pierce Brosnan,439.5,158.3,13.5
Tomorrow Never Dies,1997,Pierce Brosnan,463.2,133.9,10.0

In [145]:
bond.sample(n=3, axis=1)

                                          Actor  Year  Box Office
Film
A View to a Kill                    Roger Moore  1985       275.2
Casino Royale                      Daniel Craig  2006       581.5
Casino Royale                       David Niven  1967       315.0
Diamonds Are Forever               Sean Connery  1971       442.5
Die Another Day                  Pierce Brosnan  2002       465.4
Dr. No                             Sean Connery  1962       448.8
For Your Eyes Only                  Roger Moore  1981       449.4
From Russia with Love              Sean Connery  1963       543.8
GoldenEye                        Pierce Brosnan  1995       518.5
Goldfinger                         Sean Connery  1964       820.4
Licence to Kill                  Timothy Dalton  1989       250.9
Live and Let Die                    Roger Moore  1973       460.3
Moonraker                           Roger Moore  1979       535.0
Never Say Never Again              Sean Connery  1983       380.0
Octopussy                           Roger Moore  1983       373.8
On Her Majesty's Secret Service  George Lazenby  1969       291.5
Quantum of Solace                  Daniel Craig  2008       514.2
Skyfall                            Daniel Craig  2012       943.5
Spectre                            Daniel Craig  2015       726.7
The Living Daylights             Timothy Dalton  1987       313.5
The Man with the Golden Gun         Roger Moore  1974       334.0
The Spy Who Loved Me                Roger Moore  1977       533.0
The World Is Not Enough          Pierce Brosnan  1999       439.5
Thunderball                        Sean Connery  1965       848.1
Tomorrow Never Dies              Pierce Brosnan  1997       463.2
You Only Live Twice                Sean Connery  1967       514.2

# `.nsmallest()` and `.nlargest()`

In [146]:
bond.sort_values("Box Office", ascending=False).head(3)

             Year         Actor  Box Office  Budget  Bond Actor Salary
Film
Skyfall      2012  Daniel Craig       943.5   170.2               14.5
Thunderball  1965  Sean Connery       848.1    41.9                4.7
Goldfinger   1964  Sean Connery       820.4    18.6                3.2

In [149]:
# this is faster than the above 
bond.nlargest(3, columns="Box Office")

             Year         Actor  Box Office  Budget  Bond Actor Salary
Film
Skyfall      2012  Daniel Craig       943.5   170.2               14.5
Thunderball  1965  Sean Connery       848.1    41.9                4.7
Goldfinger   1964  Sean Connery       820.4    18.6                3.2

In [150]:
bond.nsmallest(3, columns="Box Office")

,Year,Actor,Box Office,Budget,Bond Actor Salary
Film,,,,,
Licence to Kill,1989,Timothy Dalton,250.9,56.7,7.9
A View to a Kill,1985,Roger Moore,275.2,54.5,9.1
On Her Majesty's Secret Service,1969,George Lazenby,291.5,37.3,0.6

In [151]:
bond.nlargest(3, columns="Budget")

                   Year         Actor  Box Office  Budget  Bond Actor Salary
Film
Spectre            2015  Daniel Craig       726.7   206.3                NaN
Quantum of Solace  2008  Daniel Craig       514.2   181.4                8.1
Skyfall            2012  Daniel Craig       943.5   170.2               14.5

In [152]:
bond.nsmallest(6, columns="Bond Actor Salary")

,Year,Actor,Box Office,Budget,Bond Actor Salary
Film,,,,,
Dr. No,1962,Sean Connery,448.8,7.0,0.6
On Her Majesty's Secret Service,1969,George Lazenby,291.5,37.3,0.6
From Russia with Love,1963,Sean Connery,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,820.4,18.6,3.2
Casino Royale,2006,Daniel Craig,581.5,145.3,3.3
You Only Live Twice,1967,Sean Connery,514.2,59.9,4.4

In [154]:
bond["Box Office"].nlargest(8)

Film
Skyfall                  943.5
Thunderball              848.1
Goldfinger               820.4
Spectre                  726.7
Casino Royale            581.5
From Russia with Love    543.8
Moonraker                535.0
The Spy Who Loved Me     533.0
Name: Box Office, dtype: float64

In [155]:
bond["Year"].nsmallest(8)

Film
Dr. No                             1962
From Russia with Love              1963
Goldfinger                         1964
Thunderball                        1965
Casino Royale                      1967
You Only Live Twice                1967
On Her Majesty's Secret Service    1969
Diamonds Are Forever               1971
Name: Year, dtype: int64

# Filtering with `where` Method

In [166]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [167]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [168]:
mask = bond["Actor"] == "Sean Connery"
bond[mask]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [169]:
bond.where(mask)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [170]:
bond.where(bond["Box Office"] > 800)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,2012.0,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

In [171]:
mask2 = bond["Box Office"] > 800
bond.where(mask & mask2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

# Filter with `query`

## Allows more Pythonic language inside query. Requires no spaces in column names

In [172]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [173]:
[column_name.replace(" ", "_") for column_name in bond.columns]

['Year', 'Actor', 'Director', 'Box_Office', 'Budget', 'Bond_Actor_Salary']

In [174]:
bond.columns = [column_name.replace(" ", "_") for column_name in bond.columns]

In [175]:
bond.head(3)

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [176]:
bond.query("Actor == 'Sean Connery'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [177]:
bond.query("Director == 'Terence Young'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [178]:
bond.query("Actor != 'Roger Moore'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [179]:
bond.query("Box_Office > 600")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [180]:
bond.query("Actor == 'Roger Moore' and Director == 'John Glen'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [182]:
bond.query("Actor in ['Timothy Dalton', 'George Lazenby']")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2

In [184]:
bond.query("Actor not in ['Sean Connery', 'Roger Moore']")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0

# `.apply()`

In [198]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [199]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [200]:
def convert_to_string_and_add_million(number):
    return str(number) + " MILLION!"

bond["Box Office"] = bond["Box Office"].apply(convert_to_string_and_add_million)

In [201]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 MILLION!,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 MILLION!,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0 MILLION!,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5 MILLION!,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4 MILLION!,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8 MILLION!,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4 MILLION!,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8 MILLION!,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5 MILLION!,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4 MILLION!,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9 MILLION!,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3 MILLION!,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0 MILLION!,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0 MILLION!,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8 MILLION!,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5 MILLION!,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2 MILLION!,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5 MILLION!,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7 MILLION!,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5 MILLION!,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0 MILLION!,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0 MILLION!,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5 MILLION!,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1 MILLION!,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2 MILLION!,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2 MILLION!,59.9,4.4

In [202]:
bond["Budget"] = bond["Budget"].apply(convert_to_string_and_add_million)
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 MILLION!,54.5 MILLION!,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 MILLION!,145.3 MILLION!,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0 MILLION!,85.0 MILLION!,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5 MILLION!,34.7 MILLION!,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4 MILLION!,154.2 MILLION!,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8 MILLION!,7.0 MILLION!,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4 MILLION!,60.2 MILLION!,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8 MILLION!,12.6 MILLION!,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5 MILLION!,76.9 MILLION!,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4 MILLION!,18.6 MILLION!,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9 MILLION!,56.7 MILLION!,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3 MILLION!,30.8 MILLION!,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0 MILLION!,91.5 MILLION!,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0 MILLION!,86.0 MILLION!,NaN
Octopussy,1983,Roger Moore,John Glen,373.8 MILLION!,53.9 MILLION!,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5 MILLION!,37.3 MILLION!,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2 MILLION!,181.4 MILLION!,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5 MILLION!,170.2 MILLION!,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7 MILLION!,206.3 MILLION!,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5 MILLION!,68.8 MILLION!,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0 MILLION!,27.7 MILLION!,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0 MILLION!,45.1 MILLION!,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5 MILLION!,158.3 MILLION!,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1 MILLION!,41.9 MILLION!,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2 MILLION!,133.9 MILLION!,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2 MILLION!,59.9 MILLION!,4.4

In [204]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [205]:
columns = ["Box Office", "Budget", "Bond Actor Salary"]
for col in columns: 
    bond[col] = bond[col].apply(convert_to_string_and_add_million)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 MILLION!,54.5 MILLION!,9.1 MILLION!
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 MILLION!,145.3 MILLION!,3.3 MILLION!
Casino Royale,1967,David Niven,Ken Hughes,315.0 MILLION!,85.0 MILLION!,nan MILLION!

# `.apply()` with Rows

In [206]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [207]:
def good_movie(row): 
    
    actor = row[1]
    budget = row[4]
    
    if actor == "Pierce Brosnan":
        return "The Best"
    elif actor == "Roger Moore" and budget > 40:
        return "Enjoyable"
    else:
        return "Idk"

bond.apply(good_movie, axis="columns")

Film
A View to a Kill                   Enjoyable
Casino Royale                            Idk
Casino Royale                            Idk
Diamonds Are Forever                     Idk
Die Another Day                     The Best
Dr. No                                   Idk
For Your Eyes Only                 Enjoyable
From Russia with Love                    Idk
GoldenEye                           The Best
Goldfinger                               Idk
Licence to Kill                          Idk
Live and Let Die                         Idk
Moonraker                          Enjoyable
Never Say Never Again                    Idk
Octopussy                          Enjoyable
On Her Majesty's Secret Service          Idk
Quantum of Solace                        Idk
Skyfall                                  Idk
Spectre                                  Idk
The Living Daylights                     Idk
The Man with the Golden Gun              Idk
The Spy Who Loved Me               Enjoyable
The World Is Not Enough             The Best
Thunderball                              Idk
Tomorrow Never Dies                 The Best
You Only Live Twice                      Idk
dtype: object

# `.copy()`

In [216]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond = bond.sort_index()
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [217]:
directors = bond["Director"].copy()
directors.head(3)

Film
A View to a Kill          John Glen
Casino Royale       Martin Campbell
Casino Royale            Ken Hughes
Name: Director, dtype: object

In [218]:
directors["A View to a Kill"] = "Mister John Glen"

In [219]:
directors.head(3)

Film
A View to a Kill    Mister John Glen
Casino Royale        Martin Campbell
Casino Royale             Ken Hughes
Name: Director, dtype: object

In [220]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN